.dashboard {
    max-width: 100vw;
    margin: 0 auto;
    padding: 20px;
    min-height: 100vh;
    overflow: hidden;
  }
  
  .main {
    padding: 20px;
  }
  
  .this-week {
    text-align: center;
    margin-bottom: 20px;
    border: solid rgba(0, 0, 0, 0.1) 1px;
    color: rgb(28, 28, 28);
    border-radius:15px;
    padding-bottom: 30px;
    background-color: #00000005;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.229);
    position: relative;
    transition: all 0.3s ease;
  }

  .this-week:hover {
    transform: translateY(-10px);
  }
  
  .days-container {
    position: relative;
    padding: 10px;
  }
  
  .days {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
  }
  
  .days::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 90%;
    margin-left: 5%;
    height: 25px;
    background-color: white;
    z-index: 0;
    transform: translateY(-50%);
  }
  
  .progress-bar {
    position: absolute;
    top: 50%;
    left: 0;
    height: 25px;
    background-color: black;
    transform: translateY(-50%);
    z-index: 1;
  }
  
  .day {
    font-size: 18px;
    text-align: center;
    border-radius: 50px;
    height: 100px;
    width: 100px;
    background-color: rgb(255, 255, 255);
    color: black;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
  }
  
  .day.past-day {
    background-color: black;
    color: white; /* Text color for past days */
  }
  
  .day > p {
    margin: 0;
  }
  
  .binder {
    margin-top: 20px;
  }
  
  .binder p {
    font-size: 16px;
    margin: 5px 0;
  }
  
  .title-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 30%;
    margin: auto;
    padding: 10px;
  }
  
  .binder-title {
    font-size: 24px;
    text-align: center;
  }
  
  .message {
    color: rgba(0, 0, 0, 0.514);
  }

  .message-count {
    color: rgb(0, 0, 0);
    font-size: 25px;
    text-align: center;
  }
  
  .dash-cont {
    padding:15px;
    margin-top: 20px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
  }
  
  .message-box {
    padding: 20px;
    border-radius: 15px;
    background-color: #00000005;
    border: solid rgba(0, 0, 0, 0.1) 1px;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.229);
    transition: all 0.3s ease;
    text-align: center;
  }

  .message-box:hover {
    transform: translateY(-10px);
  }
  
  .button-cont {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 20px;
  }
  
  .dash-btn:hover {
    background-color: #843939;
  }